
*.csv
crawling/data/21. 씨유박스/.DS_Store
crawling/data/25. 펨트론/.DS_Store
crawling/data/24. 프리닉스/.DS_Store
crawling/data/23. 이브이알스튜디오/.DS_Store
crawling/data/22. 엑스엘게임즈/.DS_Store
crawling/data/20. 티쓰리엔터테인먼트/.DS_Store
crawling/data/19. 뉴로메카/.DS_Store
crawling/data/18. 제이비케이랩/.DS_Store
crawling/data/17. 큐라티스/.DS_Store
crawling/data/16. 에이피알/.DS_Store
crawling/data/14. 지아이이노베이션/.DS_Store
crawling/data/13. 지엔티파마/.DS_Store
crawling/data/12. 밴코리아/.DS_Store
crawling/data/11. 오아시스/.DS_Store
